@model Videly.RandomMovieViewModel.RandomMovie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Scripts/Videly/Main.css" rel="stylesheet" />
  
</head>   

@{
    var className = Model.Customers.Count > 3 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count >= 2)
{
    <text>No One Rented this movie Before</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li> @customer.Name</li>
        }
    </ul>
}

   
